<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RedFive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1413D08C1BD6D053005CBE38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1413D0A21BD6D053005CBE38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1413D0AD1BD6D053005CBE38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
